---
interface Props {
	siteTitle?: string;
	copyright?: string;
}

const {
	siteTitle = "Walden Adventures",
	copyright = `© ${new Date().getFullYear()} Walden Adventures GC. Todos los derechos reservados.`,
} = Astro.props;
---

<footer style="background-color: hsl(150 25% 15%);" class="py-8">
	<div class="container mx-auto px-6">
		<div class="flex flex-col md:flex-row items-center justify-between gap-4">
			<div class="flex items-center gap-2">
				<span class="font-heading text-lg" style="color: hsl(45 30% 97%);">
					{siteTitle}
				</span>
				<span class="text-xs font-body tracking-widest" style="color: hsl(45 30% 97% / 0.6);">
					GC
				</span>
			</div>
			<p class="font-body text-sm" style="color: hsl(45 30% 97% / 0.5);">
				{copyright}
			</p>
		</div>
	</div>
</footer>
